.triangle-panel {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.triangle-form {
    width: 50%;
}

@media screen and (max-device-width: 767px) {
    .triangle-form {
        width: 100%;
    }
}